# Data Science Tools and Ecosytem

In this notebook, Data science tools and ecosystem are summarized

**Objectives**:
* jupyter notebooks
* markdown
* different data science languages

Some of the popular languages data scientists use are:
1. Python
2. R
3. Java

some of the popular libraries used in data science are:
1. pandas
2. numpys
3. matplotlib

| Data Science Tools |
|-----------|
| pycharm |
| jupyter notebook |
| jupyterLab |

### Some arithmetic expressions in python:

In [3]:
#this is a simple arithmetic to multiple and add integers
(3*4)+5

17

In [6]:
#this will convert 200 minutes into hours:
200/60 , ('hours')

(3.3333333333333335, 'hours')

## **Author**: 
keerthana